/* Se utiliza # para id's */
#titulo {
    color: darkgreen;
}

/* Se utiliza . para clases (class) */
.texto{
    color: blueviolet;
}

/* Esto selecciona las etiquetas de "párrafo" que tengan la clase de texto. */
p.texto{
    color: darkblue;
}

p.especial{
    color: orange;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

/**{
    background-image: url('E:\\Mis cosas\\VS Code\\HTMLandCSS\\img\\Offline_screen.png');
 }*/ 
/*
.color {
    color: #888
}*/
.color {
    /* border: 5px black double; */
    /*
        dotted
        dashed
        solid
        double

        *Tridimensionales
            groove
            ridge
            inset
            outset
        none
        hidden
    */
    border-style: solid;
    border-color: coral;
    border-radius: 10px;
    border-width: 5px;
}

#fondo {
    /* background-color: rgba(0,0,0,0.1); */
    height: 500px;
    background-image: url('E:\\Mis cosas\\VS Code\\HTMLandCSS\\img\\Offline_screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.margen {
    background-color: chocolate;
    margin: 20px;
    padding: 20px;
    border: solid 3px solid black;
    height: 100px;
    width: 100px;
    overflow: scroll;
    outline: 3px solid black;
}

.text{
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: line-through;
    text-shadow: 3px 5px 5px blue;
}

/* Cuando el link no ha sido visitado */
a:link{
    color: blueviolet;
}

/* Links que ya han sido visitados */
a:visited {
    color: gray;
}

/* Cuando se pasa el cursor por encima */
a:hover{
    color: yellow;
}
/* Cuando se da click en el link */
a:active {
    color: red;
}
/* Esto es un comentario */